<div class="chat-container" *ngIf = "conversation">
    <div class="header">
        <div class="header-container">
            <div class="avatar">
                <img [src] ="conversation.avatar">
                <img *ngIf = "conversation.latestMessageRead" class = "message-status" src="../../assets/icon/check-mark-removebg-preview.png">
                <img *ngIf = "!conversation.latestMessageRead" class = "message-status" src="/assets/icon/unread-messages.png">
            </div>

            <div class="nickname">
                {{conversation.nickname}}
            </div>
        </div>
    </div>
    <div class="body">

        <div class="body-container" #chatWindow>

            <div *ngFor = "let message of conversation.messages" [ngClass]="message.me ? 'my-message' : 'message-box' ">

                <div class="avatar" *ngIf = "!message.me" >
                    <img [src] ="conversation.avatar" alt="">
                </div>
    
                <div class="message">
                    {{message.body}}
                </div>
    
                <div class="date-time">
                    12/12/12, 4:35 AM
                </div>
                
            </div>

        </div>
        
    </div>
    <div class="footer">
        <textarea placeholder="Type your message"></textarea>
        <img src="../../assets/icon/send-message.png" alt="" (click) = "sendMessage()">
    </div>
</div>


