$chat-header-height: 74px;
$chat-footer-height: 135px;
$main-footer-height: 24px;

@font-face {
    font-family: 'MrEavesXLModOT-Regular';
    src: url(../../assets/fonts/MrEavesXLMod/MrEavesXLModOT-Reg.ttf);
}

.avatar {

    img {
        width: 54px;
        height: 54px;
        border: 1px solid #f5f5f5;
        border-radius: 50px;
        background-color: #ebecf0;
    }
}

.chat-container {

    display: grid;
    grid-template-rows: $chat-header-height calc(100vh - $chat-header-height - $chat-footer-height - $main-footer-height) $chat-footer-height;
    font-family: 'MrEavesXLModOT-Regular';
    //overflow-y: auto;
    //scrollbar-width: none;

    .header {
        background-color: #f5f5f5;
        border-bottom: 1px solid #cfcfcf;
        display: grid;
        justify-content: left;
        align-items: left;
        float: left;

        .header-content {
            width: 100%;
            display: grid;
            grid-template-columns: 56px auto;

            .avatar {

                position: relative;
                width: 56px;
                height: 56px;
                align-self: center;
                margin-left: 15px;

                img.message-status {
                    width: 17px;
                    height: 17px;
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    bottom: -2px;
                    right: -3px;
                }
            }

            .nickname {
                font-size: 30px;
                align-self: center;
                margin-left: 38px;
            }

            .return-btn {
                
                img {
                    margin-right: 15px;
                    float: right;
                    width: 30px;
                    height: 28px;
                }

            }


        }
    }

    .body {

        overflow-y: auto;
        //scrollbar-width: none;

        .body-content {

            display: grid;

            .message-box {

                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: 1fr auto;
                grid-gap: 10px;

                padding: 20px 15px;
                justify-self: left;

                .date-time {
                    grid-column: 2 / 3;
                    padding-left: 10px;
                    color: #7a7a7a;
                }

                .message {
                    background-color: #3c4252;
                    color: white;
                    padding: 20px 15px;
                    border-radius: 25px;
                    font-size: 20px;
                    //text-align: justify;
                }

            }

            .my-message {

                display: grid;
                justify-self: right;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                grid-gap: 10px;

                padding: 20px 10px;
                margin-right: 10px;

                .message {

                    background-color: #e0e0e0;
                    color: #3e3e3e;
                    padding: 20px 15px;
                    border-radius: 25px;
                    font-size: 20px;
                    text-align: center;

                }

                .date-time {
                    text-align: right;
                    padding-right: 10px;
                    color: #7a7a7a;
                }

            }

        }

    }

    .footer {
        background-color: #f5f5f5;
        border-top: 1px solid #dbdbdb;
        //min-height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;


        textarea {
            font-family: 'MrEavesXLModOT-Regular';
            font-size: 22px;
            padding: 20px 60px 0 20px;
            height: 45px;
            //width: 85%;
            width: calc(100% - 120px);
            border: 1px solid #dfdfdf;
            resize: none;
            border-radius: 25px;

            &::placeholder {
                color: #979797;
            }
        }

        img {
            height: 25px;
            width: 25px;
            cursor: pointer;
            position: absolute;
            right: 35px;
        }

    }
}

@media all and (max-width: 768px) {

    .chat-container {

        .header {
            
            justify-content: normal;
            //align-items: normal;
    
            .header-content {
                grid-template-columns: 56px auto 75px;

                .return-btn {
                    
                    align-self: center;
                    
                    img {
                        cursor: pointer;
                    }
                }
            }

        }

    }

}