<div class="main-wrapper">
  
  <div class="chat-container">

    <app-sidebar (conversationClicked) = "onConversationSelected($event)" [newMessageFromChuck] = "newMessageFromChuck"></app-sidebar>
  
    <div class="chat-placeholder" *ngIf = "!conversation">
      <h3>Select a chat to start messaging</h3>
    </div>
  
    <app-chat 
      *ngIf = "conversation" 
      [conversation] = "conversation" 
      (chuckResponse)="messageIncome($event)"
      (closeChatWindow_Flag)="returnToSidebarCommand()">
    </app-chat>

    <!-- <app-chat *ngIf = "conversation" [conversation] = "conversation" (conversationEdited)="messageIncome($event)"></app-chat> -->
  
  </div>
  
  <footer></footer>

</div>

<!-- <router-outlet></router-outlet> -->
