.main-wrapper {

    //height: 100vh;
    display: grid;
    grid-template-rows: 97vh 18px;
    //grid-template-rows: auto 18px;

    .chat-container {
        
        display: grid;
        grid-template-columns: 36% 64%;
    
        app-sidebar {
            
            display: grid;
            //height: 97vh;
            grid-template-rows: repeat(5, 20%);
            
        }
    
        app-chat {
            background-color: #fafafa;
            //display: flex;
            //height: 100%;
        }
    
    
        .chat-placeholder {
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            h3 {
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                border: 1px solid #888888;
                background-color: #888888;
                border-radius: 15px;
                padding: 4px 15px;
                text-align: center;
            }
        }
       
    }
    
    footer {
        min-height: 18px;
        border-top: 2px solid #cccccc;
        background-color: #f5f5f5;
        width: 100%;
        z-index: 1;
    }
}